# Folder contains MNIST
mnist/ 

# Папка с инициализирвоанными весами
random/

# Папка с весами во время обучения
weights/

# Папка со старыми результатами
old_results/

# Исключить временные файлы Python
__pycache__/
*.pyc

# Исключить IDE-файлы
.vscode/
.idea/
